	header{
	color: purple; text-align: center;
	border-style: solid; 
	border-bottom: thick, black;
	font-family: sans-serif;
}

	footer{
	color: purple; text-align: center;
}

	a:visited{
	color: purple;
}

	a:hover{
	font-weight:bold;
}

	a:active{
	text-decoration:none;
}


	form{
		margin-right:60%;
		text-align:right;
	}
	


	

