/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2017, 4:25:28 PM
    Author     : Owner
*/

body {
    background-image: url("../img/marble.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imgLink {
    cursor: pointer;
}

h1 {
    font-size: 400%;
    font-family: "Times New Roman", Georgia, Serif;
	color: black;
}

h4 {
    font-family: "Times New Roman", Georgia, Serif;
    color: black;
}

#contentBackground {
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #040404;
	border-radius: 1%;
}